In [1]:
#to load the data:

import pickle
with open('features_dataset/features_dataset.pkl', 'rb') as f:
    new_dataset = pickle.load(f)

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.array(new_dataset).reshape(201,9), columns = list("abcdefghi"))
df.head()

                      a   b     c       d              e  f   g     h    i
0                  oomf  50  4934  158587            1.0  1  49     6  0.0
1        teamfollowback  46  4813  197355  1.73333333333  3  38    47  0.0
2               bahrain  29   517    5884  2.61538461538  5  17   109  0.0
3  thoughtsduringschool  39  2808  114080  1.33333333333  2  34  1093  0.0
4                  yolo  48  1560   65902             []  0  47    29  0.0

In [3]:
def convert_float(string):
    try:
        x=float(x)
        return x
    except:
        return 0.0

In [4]:
df['b'] = df.b.apply(lambda x : int(x))
df['c'] = df.c.apply(lambda x : int(x))
df['d'] = df.d.apply(lambda x : int(x))
df['e'] = df.e.apply(lambda x : convert_float(x))
df['f'] = df.f.apply(lambda x : int(x))
df['g'] = df.g.apply(lambda x : int(x))
df['h'] = df.h.apply(lambda x : int(x)) 
df['i'] = df.i.apply(lambda x : float(x))

In [5]:
df

                                  a   b     c       d    e  f   g      h    i
0                              oomf  50  4934  158587  0.0  1  49      6  0.0
1                    teamfollowback  46  4813  197355  0.0  3  38     47  0.0
2                           bahrain  29   517    5884  0.0  5  17    109  0.0
3              thoughtsduringschool  39  2808  114080  0.0  2  34   1093  0.0
4                              yolo  48  1560   65902  0.0  0  47     29  0.0
5                          dearoomf  42  3346  132431  0.0  3  33  17622  0.0
6                           retweet  50  5359  190911  0.0  1  48     59  0.0
7                            taurus  47  2555  126120  0.0  0  46     59  0.0
8                        followback  45  7200  211052  0.0  2  41     75  0.0
9                           winning  50  2750  112269  0.0  1  49     67  0.0
10                   wheniwaslittle  46  3267  160085  0.0  1  44  16735  0.0
11                        capricorn  46  2958  133078  0.0  0  46     13  0.0
12                           gemini  43  2757  131830  0.0  2  41    144  0.0
13                           cancer  46  3091  130931  0.0  1  43     75  0.0
14                         shoutout  44  4599  182879  0.0  1  42    129  0.0
15                       nowplaying  42  1813  101461  0.0  2  38     85  0.0
16                            aries  40  2007  119517  0.0  0  39     70  0.0
17                          imagine  44  3646   63755  0.0  3  32    206  0.0
18                           pisces  46  2188  117180  0.0  1  44    125  0.0
19                    20thingsilove  39  1887  101556  0.0  2  34     50  0.0
20                      sagittarius  47  3009  145788  0.0  0  46     87  0.0
21                            virgo  49  3568  155806  0.0  0  49    127  0.0
22                       dailytweet  49  4901  168100  0.0  1  45    169  0.0
23                        boyfriend  45  4609   68476  0.0  7  30    108  0.0
24                          scorpio  49  3183  132684  0.0  0  49    116  0.0
25                           follow  38  5009  191808  0.0  4  31    126  0.0
26                         aquarius  50  3155  144942  0.0  1  49    193  0.0
27                   thingsigetalot  45  2329  117340  0.0  4  34     32  0.0
28                             fact  49  3589  153092  0.0  1  47    141  0.0
29                            libra  46  2804  144344  0.0  1  45    151  0.0
..                              ...  ..   ...     ...  ... ..  ..    ...  ...
171                     bigtimerush  29  1417   40482  0.0  4  10    232  0.0
172                     ifollowback  38  2759  161026  0.0  0  37    381  0.0
173                     itscrazyhow  46  2019  104455  0.0  0  46  53087  0.0
174                        favmusic  29  1258   36186  0.0  4   9    251  0.0
175                           music  29  2110   96012  0.0  3  24    599  0.0
176                 nomanshouldever  48  2873  147949  0.0  4  39  18660  0.0
177                        1000aday  40  2202  133248  0.0  1  37    298  0.0
178                            real  49  4633  165195  0.0  1  48    291  0.0
179                 mybiggestfearis  50  2722  121856  0.0  0  50  37993  0.0
180                            boss  46  3403  151573  0.0  1  45    741  0.0
181               liestoldontwitter  49  3759  143059  0.0  1  47    539  0.0
182              sometimesijustwant  48  2228   88466  0.0  1  46      7  0.0
183                            lmao  49  2427  102918  0.0  1  48    445  0.0
184                      obsessions  28  3194  119906  0.0  4   6   1235  0.0
185                            fuck  50  1872   95947  0.0  0  48    948  0.0
186  thingsblackpeopletakeseriously  48  3454  161644  0.0  1  44     11  0.0
187                thingsilovetosee  45  4168  183311  0.0  1  43     30  0.0
188                   thatsthetruth  50  2344  127120  0.0  1  47  39367  0.0
189               amitheonlyonethat  48  2734  136685  0.0  2  44  29660  0.0
190        backinthedaywheniwasakid  40  1436   82995  0.0  4  20     35  0.0
191                          lowkey  49  3507  127904  0.0  1  47    326  0.0
192                       girlfacts  47  1841   95747  0.0  0  47   1540  0.0
193                       truestory  50  2606  121542  0.0  1  48    625  0.0
194                     randomtweet  50  4349  168573  0.0  1  48    730  0.0
195             hardestthingsinlife  46  3418  145049  0.0  0  45     23  0.0
196                            life  44  3294  132047  0.0  1  43    887  0.0
197                           photo  20   497   20384  0.0  3   8    601  0.0
198                 arentyoutiredof  45  2715  137569  0.0  1  44     13  0.0
199                          fuckit  50  2761  120921  0.0  1  49    400  0.0
200                     itsfunnyhow  44  4350  187741  0.0  2  39  16015  0.0

[201 rows x 9 columns]

In [6]:
hashtags = df.a
df = df.drop(["a"],axis=1)
df.head()

    b     c       d    e  f   g     h    i
0  50  4934  158587  0.0  1  49     6  0.0
1  46  4813  197355  0.0  3  38    47  0.0
2  29   517    5884  0.0  5  17   109  0.0
3  39  2808  114080  0.0  2  34  1093  0.0
4  48  1560   65902  0.0  0  47    29  0.0

In [7]:
#Fonction pour spliter la base en train et test, et dire quel sera le label recherché
def simple_split(X):
    to_drop=['g']
    T=X[140:]
    X=X[0:140]  
    return X.drop(to_drop,axis=1),X.g,T.drop(to_drop,axis=1)
#drop pour retourner un nouvel objet avec la colonne concernée en guise de colonne label (ici la colonne 'prime_tot_ttc')

In [8]:
%%time
X,y,T=simple_split(df.copy())

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 1.59 ms

In [9]:
from sklearn.cross_validation import train_test_split
X0_train,X0_test,y0_train,y0_test=train_test_split(X,y,test_size=0.3,random_state=42)

/home/paul/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [13]:
# Mean Absolute Percentage Error
def mape_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [12]:
%%time
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=300, max_depth=7, n_jobs=-1, max_features=None, min_samples_split=5)
rf.fit(X0_train, y0_train)
y_rf = rf.predict(X0_test)

CPU times: user 928 ms, sys: 108 ms, total: 1.04 s
Wall time: 1.06 s

In [14]:
print("La moyenne absolue de pourcentage d'erreur est de %s %%") %(mape_error(y0_test, y_rf))

La moyenne absolue de pourcentage d'erreur est de 10.4160974435 %

In [ ]:
#Le pourcentage d'erreur est très bon, nous nous satifaisons de notre prédiction